header {
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    align-items: flex-start;  
}

.loginNav {
    color: rgba(26, 137, 23, 1);
    display: inline-flex;
}

#getstartedContainer {
    border: rgba(26, 137, 23, 1) solid 1px;
    border-radius: 4px;
    padding: 7px 16px 9px;
    display: inline-block;
}

#signinContainer {
    padding: 7px 16px 9px;
}

#headerLogoContainer {
    margin-right: 85%;
}

body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    position: relative;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.loginNav a {
    color: rgba(26, 137, 23, 1);
}

main {
    margin: auto;
    width: 50%;
}

.blogTitle {
    font-size: 48px;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
}
.blogTitle h1 {
    margin-bottom: 0px;
}

.blogSubTitle {
    color: rgba(117, 117, 117, 1);
    font-size: 22px;

}