header {
    width: 100%;
}

.loginNav {
    color: rgba(26, 137, 23, 1);
    display: flex;
    flex-grow: 1;
}

.getstartedContainer {
    border: rgba(26, 137, 23, 1) solid 1px;
    border-radius: 4px;
    padding: 7px 16px 9px;
}

body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    position: relative;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(26, 137, 23, 1);
}

main {
    max-width: 680px;
    margin: 0 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogTitle {
    font-size: 48px;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
}
.blogTitle h1 {
    margin-bottom: 0px;
}

.blogSubTitle {
    color: rgba(117, 117, 117, 1);
    font-size: 22px;
}

.targetUserLink {
    font-weight: 400;
    margin-right: .5rem;
}

.targetContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.targetUserImg {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin-right: .5rem;
}  

article {
    margin-top: 24px;
    font-size: 21px;
    color: rgba(41, 41, 41, 1);
    line-height: 32px;
}

